$widget-width: 60em;
$widget-height: 30em;
$half-width: $widget-width / 2;
$double-height: $widget-height * 2;
$mobile-width: $half-width;
$mobile-height: $double-height;
$form-left-col-width: 10em;

$dark-color: #222222;
$active-color: #42b983;
$green: #009933;
$success: #23d160;
$danger: #ff3860;
$blue: #000099;
$orange: #ff6600;
$dark-grey: #888888;
$link-color: $blue;
$highlight-color: #ffff66;
$purple: #4f46e5;
$primary-color: $purple;
